{% extends "viewer/base.html" %}

{% block contents %}

    {% if errors %}
        {{ errors }}
    {% endif %}

    {% for t in taxon.get_all_parents reversed %}
        <a href="{{ t.get_absolute_url }}">{{ t.name }}</a><br>
    {% endfor %}
    <h1>{{ taxon.name }} (<a href="http://www.wikidata.org/entity/Q{{ taxon.pk }}">{{ taxon.pk }}</a>)</h1>
    {% if taxon.english_name %}
        <h2>English name: {{ taxon.english_name }}</h2>
    {% endif %}

    {% if taxon.image %}
        <img src="{{ taxon.image }}" style="max-width: 100px">
    {% endif %}

    {% if taxon.children.all %}
        <p></p>

        Children ({{ taxon.number_of_direct_children }} direct children, {{ taxon.number_of_direct_and_indirect_children }} direct and indirect children):

        <p></p>

        <style>
            a {
                white-space: nowrap;
            }
        </style>

        <p style="column-width: 300px;">
            {% for t in taxon.children.all %}
                <a href="{{ t.get_absolute_url }}">{{ t.name }}</a><br>
                {% if t.english_name %}
                    {{ t.english_name }}<br>
                {% endif %}
                <br>
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
