{% extends "viewer/base.html" %}

{% block contents %}

    {% if errors %}
        {{ errors }}
    {% endif %}

    {% for t in taxon.get_all_parents reversed %}
        <a href="{{ t.get_absolute_url }}">{{ t.name }}</a><br>
    {% endfor %}
    <h1>{{ taxon }}</h1>
    {% if taxon.english_name %}
        <h2>English name: {{ taxon.english_name }}</h2>
    {% endif %}

    {% if taxon.children.all %}
        <p></p>

        Children:

        <p></p>

        <style>
            a {
                white-space: nowrap;
            }
        </style>

        <p style="column-width: 300px;">
            {% for t in taxon.children.all %}
                <a href="{{ t.get_absolute_url }}">{{ t.name }}</a><br>
                {% if t.english_name %}
                    {{ t.english_name }}<br>
                {% endif %}
                <br>
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}
